<div class="section-wrapper">
  <section class="section skills" id="awards">
    <div>
      <div class="section-heading" id="awards-text">Awards</div>

      <div class="skills-grid" style="display: flex; flex-wrap: wrap; justify-content: space-around;">
        <div class="what-i-do">
          <h3 class="center-align skills-subsection">Over $650K in research grants</h3>
          <p class="paragraph-text center-align">
Raised from funding sources including NSERC, MITACS, and the Canadian Space Agency.           </p>

          <h3 class="center-align skills-subsection">Canadian Undergraduate Physics and Astronomy Conference</h3>
          <p class="paragraph-text center-align">
            Atlantic first-place medal for computational physics:
            The numerical computation of single-qubit gates implementable through quantum walks on graphs          </p>
        
            <h3 class="center-align skills-subsection">Canadian Undergraduate Physics and Astronomy Conference</h3>
          <p class="paragraph-text center-align">
            Third-place presentation (of 150): 
The numerical computation of single-qubit gates implementable through quantum walks on graphs      </p>
          
          <h3 class="center-align skills-subsection">Human Robot Interaction
          </h3>
          <p class="paragraph-text center-align">
            Best full paper (of 150+)
            Meet me where i'm gazing: how shared attention gaze affects human-robot handover timing          </p>


                      
          <h3 class="center-align skills-subsection">Startup Weekend Rejkavik

          </h3>
          <p class="paragraph-text center-align">
           Best startup    </p>
        </div>
      </div>
  </section>
</div>