<div class="section-wrapper">
  <section class="section skills" id="pubs">
    <div>
      <div class="section-heading" id="pubs-text">Patents and Publications</div>

      <div class="skills-grid" style="display: flex; flex-wrap: wrap; justify-content: space-around;">
        <div class="what-i-do">
          <h3 class="center-align skills-subsection">Patent: System and method for automating construction and installation of surfaces in construction</h3>
          <p class="paragraph-text left-align">
            The process of creating a point cloud, interpreting it to determine as-built conditions, finding the required construction materials, and generating instructions to automatically cutting them. Certain unique embodiments of this system that facilitate ease of use and acurracy are also covered. View the full patent <a href="https://patents.google.com/patent/US11332942B2/en?oq=US11332942B2">here</a>.
           </p>
          <h3 class="center-align skills-subsection">Meet me where i'm gazing: how shared attention gaze affects human-robot handover timing</h3>
          <p class="paragraph-text left-align">
            We had our humanoid robot, Charlie (PR2), hand out drinks. Charlie tried looking people in the eye, looking at the space she was bringing the drink to, and staring at the table. We used a lightcurtain to measure how long it took people to reach for the proffered beverage. We also asked how people felt about the experience. View the full paper <a href="https://scholar.google.ca/citations?view_op=view_citation&hl=en&user=rEcz-gcAAAAJ&citation_for_view=rEcz-gcAAAAJ:9yKSN-GCB0IC">here</a>.
          </p>
          <h3 class="center-align skills-subsection">Human behavioural responses to robot head gaze during robot-to-human handovers</h3>
          <p class="paragraph-text left-align">
            Frame by frame video analysis of the study in Meet me where i'm gazing. This allowed much richer understanding of how a robot's gaze can affect human's feelings about interacting with them. View the full paper <a href="https://scholar.google.ca/citations?view_op=view_citation&hl=en&user=rEcz-gcAAAAJ&citation_for_view=rEcz-gcAAAAJ:UeHWp8X0CEIC">here</a>.
          </p>
          <h3 class="center-align skills-subsection">Single-qubit unitary gates by graph scattering
          </h3>
          <p class="paragraph-text left-align">
            I wrote a numerical simulation to solve differential equations representing how a quantum system would 'diffuse' over a graph during a quantum walk. These results were analyzed to determine which qubit gates could be built from such a system to facilitate quantum computing. I build a special hashing structure to catalogue the smallest graph structure to implement each gate. View the full paper <a href="https://scholar.google.ca/citations?view_op=view_citation&hl=en&user=rEcz-gcAAAAJ&citation_for_view=rEcz-gcAAAAJ:u5HHmVD_uO8C">here</a>.
          </p>
        </div>
      </div>
  </section>
</div>