<div class="section-wrapper">
    <section class="section skills" id="skills">
        <div>
            <div class="section-heading" id="skills-text">Skills and technologies</div>

            <div class="skills-grid" style="display: flex; flex-wrap: wrap; justify-content: space-around;">
                <div style="flex: 1; min-width: 45%; max-width: 45%;">
                    <div class="what-i-do">
                        <h3 class="center-align skills-subsection">Leadership</h3>
                        <p class="paragraph-text center-align">
                            I love taking ownership of a project from start to finish. I founded ShapeMeasure to automate measuring and cutting in construction and grew the company to 15 employees, $500K+ run rate, and thousands of delivered sales.
                        </p>
                        <h3 class="center-align skills-subsection">Software</h3>
                        <p class="paragraph-text center-align">
                            I've developed robotics software in C, C++, Python. Using tools such as ROS, OpenCV, Numpy, git, Eclipse, Visual Studio Code, and Docker. I have experience developing in Linux and Windows. Checkout my free and open-source software contributions.
                        </p>
                    </div>
                </div>

                <div style="flex: 1; min-width: 45%; max-width: 45%;">
                    <div class="what-i-do">
                        <h3 class="center-align skills-subsection">Research</h3>
                        <p class="paragraph-text center-align">
                            I've tackled research-grade problems in quantum information, human-robot interaction, and robot motion planning. I've also secured over $650K in research grants. See my publications and patents.
                        </p>
                        <h3 class="center-align skills-subsection">Prototyping</h3>
                        <p class="paragraph-text center-align">
                            I love getting my hands dirty with electro-mechanical prototyping. I have experience with microcontrollers, basic circuit design, sensors, and actuators. I've designed and built ESCs, mobile robots, and 3D printed / laser cut widgets for robot manipulators.
                        </p>
                    </div>
                </div>

                <div class="technical-skills" style="flex-basis: 100%; margin-top: 20px;">
                    <h3 class="center-align skills-subsection">Technologies</h3>

                    <div class="card__meta">
                        <span class="project-technology paragraph-text-normal">ROS</span>
                        <span class="project-technology paragraph-text-normal">ROS2</span>
                        <span class="project-technology paragraph-text-normal">Docker</span>
                        <span class="project-technology paragraph-text-normal">Python</span>
                        <span class="project-technology paragraph-text-normal">Django</span>
                        <span class="project-technology paragraph-text-normal">ESP IDF</span>
                        <span class="project-technology paragraph-text-normal">Kalman filter</span>
                        <span class="project-technology paragraph-text-normal">Localization</span>
                        <span class="project-technology paragraph-text-normal">Sensors</span>
                        <span class="project-technology paragraph-text-normal">Actuators</span>
                        <span class="project-technology paragraph-text-normal">CAD</span>
                        <span class="project-technology paragraph-text-normal">CNC</span>
                        <span class="project-technology paragraph-text-normal">Fusion 360</span>
                        <span class="project-technology paragraph-text-normal">Rapid prototyping</span>
                        <span class="project-technology paragraph-text-normal">3D Printing</span>
                        <span class="project-technology paragraph-text-normal">Laser cutting</span>
                        <span class="project-technology paragraph-text-normal">Mobile robots</span>
                        <span class="project-technology paragraph-text-normal">Robot arms</span>
                        <span class="project-technology paragraph-text-normal">Motion planning</span>
                        <span class="project-technology paragraph-text-normal">C++</span>
                        <span class="project-technology paragraph-text-normal">WAM</span>
                        <span class="project-technology paragraph-text-normal">UR5</span>
                        <span class="project-technology paragraph-text-normal">Simulation</span>
                        <span class="project-technology paragraph-text-normal">Gazebo</span>
                        <span class="project-technology paragraph-text-normal">Mechanical design</span>
                        <span class="project-technology paragraph-text-normal">Microcontrollers</span>
                        <span class="project-technology paragraph-text-normal">Raspberry Pi</span>
                        <span class="project-technology paragraph-text-normal">Arduino</span>
                        <span class="project-technology paragraph-text-normal">Electromechanical</span>
                        <span class="project-technology paragraph-text-normal">Physics</span>
                        
                    </div>
            </div>
        </div>
    </section>
</div>
